.image-container {
  animation: slide 10s linear infinite;
  animation-delay: 5s;
  /* Adjust animation duration as needed */
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(17 * 180px * -1)) scale(1.01); /* Slight scaling to hide the teleportation */
  }
}
